{# Although we use the URL /accounts/password_reset (with the name='password_reset'), we use the template password_reset_form.html #}

{% extends 'base.html' %}

{% block title %}
    Reset Password
{% endblock %}

{% block content %}
    {#  When the user submits this form, we make a POST request on the same URL of the server  #}
    <form method="post" action="">
        {% csrf_token %}
        {# If the form has errors, display them. Obviously, a form can only have errors if its non-empty (has been submitted)  #}
        {% if form.email.errors %}
            {{ form.email.errors }}
        {% endif %}
        {# Display form fields #}
        <p>{{ form.email }}</p>
        {# Give user ability to submit the form #}
        {# The input element using the type attribute will use the value attribute as the default text to display #}
        <p><input type="submit" value="Reset Password!"></p>
    </form>
{% endblock %}


{# Old way #}

{#{% block content %}#}
    {#  We post this form to the same URL (probably) that will use this template  #}
    {#  When the user posts the form, the Django auth views handles the POST request  #}
{#    <form method="post" action="{% url 'password_reset' %}">#}
{#        {% csrf_token %}#}
{#        <p>{{ form.as_p }}</p>#}
{#        <input type="submit">#}
{#    </form>#}
{#{% endblock %}#}