{% extends 'base.html' %}

{% block title %}
Accounts Home
{% endblock %}

{% block content %}
    <p><a href={% url 'bank_accounts:create' %}>Create a bank account with Django Forms (you may do this if you already have a site account)</a></p>
    <p><a href={% url 'signup' %}>Create a site account (Do this if you are a new user)</a></p>
    <p><a href="{% url 'bank_accounts:account_list' %}">View your list of bank accounts</a></p>

{#    <a href={% url 'bank_accounts:create_raw' %}>Create an account with raw HTML</a> <br>#}
{#  Custom drop down menu form  #}
{#    <form method="get">#}
{#        <select>#}
{#            <option value="checking">Checking</option>#}
{#            <option value="savings">Savings</option>#}
{#        </select>#}
{#        <input type="submit">#}
{#    </form>#}

{% endblock %}

