{% extends 'base.html' %}

{% block title %}
Accounts Home
{% endblock %}

{% block content %}
    {# Check if logged in #}
    {% if user.is_authenticated %}
        <p><a href={% url 'bank_accounts:account_list' %}>Access your bank accounts</a></p>
        <p><a href={% url 'bank_accounts:internal_transfer' %}>Make an internal transfer</a></p>
        <p><a href={% url 'bank_accounts:internal_transfer_receipt_list' %}>View your history of internal transfers</a></p>
        <p><a href={% url 'bank_accounts:create' %}>Create a new bank account</a></p>
    {% else %}
        <p><a href={% url 'signup' %}>New User? Create a User account</a></p>
    {% endif %}

{#    <a href={% url 'bank_accounts:create_raw' %}>Create an account with raw HTML</a> <br>#}
{#  Custom drop down menu form  #}
{#    <form method="get">#}
{#        <select>#}
{#            <option value="checking">Checking</option>#}
{#            <option value="savings">Savings</option>#}
{#        </select>#}
{#        <input type="submit">#}
{#    </form>#}

{% endblock %}

