<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}untitled{% endblock %}</title>
</head>
<body>
    {% if message %}  {# My custom message #}
        <i>{{ message }}</i>
    {% endif %}

    {% if messages %} {# django.contrib messages #}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <ul class="sidebar-nav">
        {% if user.is_authenticated %}
            {# Inform the user who they are #}
            <p>Logged in as: {{ user.username }}</p>
        {% endif %}

        <p><a href="{% url 'home' %}">Home</a></p>

        {% if user.is_authenticated %}
            {# User may logout #}
            {# The current URL is the argument for next, which is the URL that the login/logout page will redirect to #}
            <p><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></p>
        {% else %}
            {# User may login #}
            <p><a href="{% url 'login' %}?next={{ request.path }}">Login</a></p>
            {# User may register #}
            <p><a href={% url 'signup' %}>New User? Create a User account</a></p>

        {% endif %}
    </ul>

    {% block content %}No content{% endblock %}
</body>
</html>