{% extends 'base.html' %}

{% block title %}
    List of Accounts
{% endblock %}

{% block content %}
    <p><a href={% url 'bank_accounts:internal_transfer' %}>Make an internal transfer</a></p>

    <b>List of Accounts held by {{ request.user.username }}:</b>
    {% for account in account_list %}
        {# {% url 'app_name:URL_name URL arguments' %} #}
        <p><a href="{% url 'bank_accounts:account_detail' account.id %}">{{ account }}</a>: ${{ account.balance }}</p>
    {% endfor %}
{% endblock %}