{% extends 'base.html' %}

{% block title %}
    Payment History
{% endblock %}

{% block content %}

    <p>Payment History:</p>

    {% if receipts %}

        {% for receipt in receipts %}
            <p>{{ receipt.date }}<br>
            ${{ receipt.amount }} sent


            {% if request.user == receipt.payer %}  {# User is payer #}
    {% if receipt.from_account and receipt.payee %}
        from
        <a href="{% url 'bank_accounts:account_detail' receipt.from_account.id %}">{{ receipt.from_account }}</a>
        to
        {{ receipt.payee }}
    {% elif receipt.from_account %}
        from
        <a href="{% url 'bank_accounts:account_detail' receipt.from_account.id %}">{{ receipt.from_account }}</a>
        to
        Deleted User
    {% elif receipt.payee %}
        from
        Deleted Account
        to
        {{ receipt.payee }}
    {% else %}
        from
        Deleted Account
        to
        Deleted User
    {% endif %}
{% else %}  {# User is payee #}
    {% if receipt.payer and receipt.to_account %}
        from
        {{ receipt.payer }}
        to
        <a href="{% url 'bank_accounts:account_detail' receipt.to_account.id %}">{{ receipt.to_account }}</a>
    {% elif receipt.to_account %}
        from
        Deleted User
        to
        <a href="{% url 'bank_accounts:account_detail' receipt.to_account.id %}">{{ receipt.to_account }}</a>
    {% elif receipt.payer %}
        from
        {{ receipt.payer }}
        to
        Deleted Account
    {% else %}
        from
        Deleted User
        to
        Deleted Account
    {% endif %}
{% endif %} {# In the case that User does not exist, then we cannot view his transaction history anyways #}





            {# If Accounts exists, link to it #}
{#                {% if receipt.from_account.id and receipt.to_account.id %}#}
{#                    from#}
{#                    <a href="{% url 'bank_accounts:account_detail' receipt.from_account.id %}">{{ receipt.from_account }}</a>#}
{#                    to#}
{#                    <a href="{% url 'bank_accounts:account_detail' receipt.to_account.id %}">{{ receipt.to_account }}</a>#}
{#                {% elif receipt.from_account.id %}#}
{#                    from#}
{#                    <a href="{% url 'bank_accounts:account_detail' receipt.from_account.id %}">{{ receipt.from_account }}</a>#}
{#                    to#}
{#                    Deleted Account#}
{#                {% elif receipt.to_account.id %}#}
{#                    from#}
{#                    Deleted Account#}
{#                    to#}
{#                    <a href="{% url 'bank_accounts:account_detail' receipt.to_account.id %}">{{ receipt.to_account }}</a>#}
{#                {% else %}#}
{#                    from#}
{#                    Deleted Account#}
{#                    to#}
{#                    Deleted Account#}
{#                {% endif %}#}



            <br>

            {% if receipt.comment %} {# Comment exists #}
                Comment: {{ receipt.comment }}
            {% endif %}

            <br>
        {% endfor %}

    {% else %}
        <p>Nothing as of yet!</p>
    {% endif %}

{% endblock %}












{# MESS 1 #}

{# If payer is you, reference Account. Else display name. If payee is you, reference Account. Else display name #}

                {# If Accounts exists, link to it #}
{#                {% if receipt.from_account.id and receipt.to_account.id %} {# Both the from account and to account exist #}
{##}
{#                    {% if request.user.id == receipt.from_account.holder %} {# User sent a payment #}
{#                        from#}
{#                        <a href="{% url 'bank_accounts:account_detail' receipt.from_account.id %}">{{ receipt.from_account }}</a>#}
{#                        to#}
{#                        {% if receipt.payee %} {# If payee exists #}
{#                            {{ receipt.payee }}#}
{#                        {% endif %}#}
{##}
{#                    {% else %}  {# User received a payment #}
{#                        from#}
{#                        {{ receipt.payer }}#}
{#                        to#}
{#                        <a href="{% url 'bank_accounts:account_detail' receipt.to_account.id %}">{{ receipt.to_account }}</a>                    {% endif %}#}
{##}
{#                {% elif receipt.from_account.id %}  {# from account exists, but to account doesn't exist #}
{##}
{#                    {% if request.user.id == receipt.from_account.holder %} {# User sent a payment #}
{#                        from#}
{#                        <a href="{% url 'bank_accounts:account_detail' receipt.from_account.id %}">{{ receipt.from_account }}</a>#}
{#                        to#}
{#                        {% if receipt.payee.id %} {# If payee exists #}
{#                            {{ receipt.payee }}#}
{#                        {% else %}#}
{##}
{#                    {% else %}  {# User received a payment  #}
{##}
{#                    {% endif %}#}
{##}
{#                    from#}
{#                    <a href="{% url 'bank_accounts:account_detail' receipt.from_account.id %}">{{ receipt.from_account }}</a>#}
{#                    to#}
{#                    Deleted User#}
{#                {% elif receipt.payee.id %}#}
{#                    from#}
{#                    Deleted Account#}
{#                    to#}
{#                    {{ receipt.payee }}#}
{#                {% else %}#}
{#                    from#}
{#                    Deleted Account#}
{#                    to#}
{#                    Deleted User#}
{#                {% endif %}#}
                {# Else, do not list the transaction #}